<div id="carouselExampleControls" style="margin: auto; padding: 20px;" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let image of carImages" class="carousel-item active">
        <img src="{{image.imagePath}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <table  class="table" style="margin: 20px; margin-top: 0;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Fiyat</th>
        <th>Açıklama</th>
      </tr>
    </thead>
    <tr *ngIf="carDetail">
      <td>{{ carDetail.id }}</td>
      <td>{{ carDetail.brandName }}</td>
      <td>{{ carDetail.colorName }}</td>
      <td>{{ carDetail.modelYear }}</td>
      <td>{{ carDetail.dailyPrice }}₺</td>
      <td>{{ carDetail.description }}</td>
    </tr>
  </table>
